body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  margin: 0 auto;
}

a:visited {
text-decoration:none;
color: #000000;
}

 h1	{
  font-family: 'Lato', sans-serif;
  letter-spacing:6px;
 	font-size: 100px;
  text-align: center;
  margin-bottom: -5px;
  margin-top: 100px;
 }

 h1:hover {
  font-family: 'Lato', sans-serif;
  letter-spacing: 7px;
  font-size: 100px;
  text-align: center;
  margin-bottom: -5px;
  color: #2980b9;
 }

 h2 {
  font-family:'Lato', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #7f8c8d;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 20px;
 }

 h3 {
  margin-top:40px;
  font-family:'Lato', sans-serif;
  text-align: center;
  color: #7f8c8d;
 }

 .content {
  font-family: 'Lato' sans-serif;
  text-decoration: none;
  text-align: center;
  margin-top: 40px;
  margin-left: 180px;
  margin-right: 180px;
  font-size:18px;
 }

 .nav{
    list-style:none;
    margin-bottom:20px;
    padding:0;
    text-align:center;
    color: #7f8c8d;
}
.nav li{
    display:inline;
    text-decoration:none;
}

.nav li:hover {
  display:inline;
  color: #2980b9;
  letter-spacing:0.2px;
  text-decoration:none;
}

.nav a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    color: #7f8c8d
}

.nav a:hover{
  color: #2980b9;
}

.nav li:active{
  text-decoration:none;
  color: #7f8c8d
}

.nav li:visited{
  text-decoration:none;
}

.features li{
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}


.medialinks {
  text-align: center;
  margin-bottom: 45px;
}


.medialinks li {
  text-decoration: none;
  display:inline;
}

.medialinks img {
  text-decoration: none;
  vertical-align: top;
}

.medialinks a {
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
}

.nytimes { 
margin-top: 80px;
text-align:center;
}

.nytimes a {
  text-decoration:none;
  color: #000000;
}

.nytimes a:hover {
  text-decoration:none;
  color: #2980b9;
   letter-spacing:0.2px;
}

.nytimes li{
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.interviews { 
margin-top: 80px;
text-align:center;
}

.interviews a {
  text-decoration: none;
  color: #000000;
}

.interviews a:hover {
  text-decoration: none;
  color: #2980b9;
   letter-spacing:0.2px;
}

.interviews li{
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.vice {
  text-align: center;
  margin-top:-5px;
}

.vice a {
  text-decoration: none;
  color: #000000;
}

.vice a:hover {
  text-decoration: none;
  color: #2980b9;
   letter-spacing:0.2px;
}


.vice ul {
  margin-top: -40px;
}

.vice li{
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.baeblemusic {
  margin-top: 100px;
  text-align:center;
}

.baeblemusic a {
  text-decoration:none;
  color: #000000;
}

.baeblemusic a:hover {
  text-decoration:none;
  color: #2980b9;
   letter-spacing:0.2px;
}

.baeblemusic li {
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.newsweek {
  margin-top: 100px;
  text-align: center;
}

.newsweek a {
  text-decoration:none;
  color: #000000;
}

.newsweek a:hover {
  text-decoration:none;
  color: #2980b9;
   letter-spacing:0.2px;
}

.newsweek li {
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.refinery29 {
  margin-top: 90px;
  text-align:center;
}

.refinery29 a {
text-decoration:none;
color: #000000;
}

.refinery29 a:hover {
text-decoration:none;
color: #2980b9;
 letter-spacing:0.2px;
}

.refinery29 li {
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.brightest {
  margin-top: 90px;
  text-align:center;
}

.brightest a {
  text-decoration:none;
  color: #000000;
}

.brightest a:hover {
  text-decoration:none;
  color: #2980b9;
   letter-spacing:0.2px;
}

.brightest li {
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.bullett {
  margin-top: 40px;
  text-align:center;
}

.bullett a {
  margin-top: 0px;
  text-decoration:none;
  color: #000000;
}

.bullett a:hover {
  text-decoration:none;
  color: #2980b9;
   letter-spacing:0.2px;
}

.bullett li {
  margin-top: -15px;
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.paste {
  margin-top: 85px;
  text-align:center;
}

.paste a {
  text-decoration:none;
  color: #000000;
}

.paste a:hover {
  text-decoration:none;
  color: #2980b9;
   letter-spacing:0.2px;
}

.paste li {
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.complex {
  margin-top: 85px;
  text-align:center;
}

.complex a {
  text-decoration:none;
  color: #000000;
}

.complex a:hover {
  text-decoration:none;
  color: #2980b9;
   letter-spacing:0.2px;
}

.complex li {
  text-align: center;
  text-decoration: none;
  list-style:none;
  font-weight:300;
  font-size: 14px;
}

.signature {
  letter-spacing:1px;
  text-align: center;
  font-family: "Lato";
  color: #7f8c8d;
  margin-top: 140px;
}

.signature a:hover {
letter-spacing:1.5px;
color: #2980b9;;
}


.aboutme img {
  margin-top:20px;
  margin-left:260px;
}

.content a{
  text-decoration:none;
  color: #2980b9
}